In [2]:
import pandas as pd
import numpy as np
df_posts=pd.read_csv("posts.csv" , encoding = "ISO-8859-1")
df_comments=pd.read_csv("comments.csv" )
df_users=pd.read_csv("users.csv")
df_posttypes=pd.read_csv("posttypes.csv")

In [3]:
df_users.columns=('id','reputation','displayname','loc','age')
df_comments.columns=('id','userid')
df_posts.columns=('id','post_type','creationdate','score','viewcount','owneruserid','title','answercount','commentcount')
df_posttypes.columns=('id','name')

In [4]:
#A.Find the display name and no. of posts created by the user who has got maximum reputation.

a=df_users.iloc[:,1].max()
LEFT_merged_dataframe = pd.merge(df_users, df_posts, on= "id", how= "left")
#print(LEFT_merged_dataframe)
LEFT_merged_dataframe=LEFT_merged_dataframe[LEFT_merged_dataframe.reputation>=a]
#print(LEFT_merged_dataframe['id','reputation'])
LEFT_merged_dataframe.rename(columns={'score':'no_of_posts'}, inplace = True)
a1=LEFT_merged_dataframe.iloc[:,1:3]
a2=LEFT_merged_dataframe.iloc[:,7]
a1=pd.concat([a1,a2],axis=1)
print(a1)

       reputation displayname  no_of_posts
19451      736381   Jon Skeet          0.0

In [5]:
#B.Find the average age of users on the Stack Overflow site.
avg=df_users.iloc[:,4]
avg_age=avg.mean()
print("the average age of users on the Stack Overflow site is ",avg_age)

the average age of users on the Stack Overflow site is  35.26279202780589

In [6]:
#C.Find the display name of user who posted the oldest post on Stack Overflow (in terms of date).
post=df_posts.iloc[:,2].max()
#a=post.()
print(post)

#print(df_posts)

9/9/2008 9:59

In [7]:
#  D.Find the display name and no. of comments done by the user who has got maximum reputation.
a=df_users.iloc[:,1].max()
print(a)
#bc = df_users.query('reputation==736381')
#print(bc)
LEFT_merged_dataframe = pd.merge(df_users, df_posts, on= "id", how= "left")
#print(LEFT_merged_dataframe)
LEFT_merged_dataframe=LEFT_merged_dataframe[LEFT_merged_dataframe.reputation>=a]
a1=LEFT_merged_dataframe.iloc[:,1:3]
a2=LEFT_merged_dataframe.iloc[:,12]
a1=pd.concat([a1,a2],axis=1)
# g_by = LEFT_merged_dataframe.groupby("reputation")["displayname","commentcount"]
# for a, b in g_by: ##this used for read data after group single column
#     print(a)
#     print(b)

print(a1)

736381
       reputation displayname commentcount
19451      736381   Jon Skeet            1

In [8]:
#E.Find the display name of user who has created maximum no. of posts on Stack Overflow. Overflow.
df1=df_posts.iloc[:,3].max()

#print(df1)
df2=pd.merge(df_users,df_posts,on='id',how='left')
df2=df2[df2.score>=df1]
# gr_by=df2.groupby('score')['displayname']
# for a, b in gr_by: ##this used for read data after group single column
#     print(a)
#     print(b)
a1=df2.iloc[:,2]
a2=df2.iloc[:,7]
a1=pd.concat([a1,a2],axis=1)
print(a1)

       displayname   score
8450  Josh Kodroff  2085.0

In [10]:
#F.	Find the owner name and id of user whose post has got maximum no. of view counts so far.
a1=df_posts.iloc[:,4].max()
df2=pd.merge(df_users,df_posts,on='id',how='left')
df2=df2[df2.viewcount>=a1]
a1=df2.iloc[:,10]
a2=df2.iloc[:,0]
a3=df2.iloc[:,2]
a1=pd.concat([a2,a3,a1],axis=1)
print(a1)
#a1

          id displayname                                              title
20774  25969        lost  SQL Insert into ... values ( SELECT ... FROM ....

In [30]:
a1=df_posts.iloc[:,7]
x = a1.dropna()
x.max

<bound method Series.max of 0                                                        5
2                                                        3
3                                                       37
4                                                       28
6                                                       21
7                                                        5
8                                                        5
9                                                        8
10                                                      22
13                                                       4
14                                                      10
20                                                       7
22                                                       2
23                                                       8
26                                                      13
33        ordered list of names from a DataTable using ...
38                                                       4
41                                                       2
46                                                       4
47                                                       3
51                                                      15
54                                                      10
55                                                       3
63                                                      14
65                                                      10
66                                                       2
72                                                       1
73                                                      16
75                                                      19
78                                                       5
                               ...
49844                                                    5
49847                                                    5
49852                                                   12
49856                                                    4
49858                                                    3
49859                                                    6
49863                                                    8
49866                                                    3
49867                                                    5
49872                                                    4
49874                                                    6
49877                                                    3
49884                                                    9
49887                                                    3
49890                                                    7
49892                                                    3
49907                                                    3
49910                                                    4
49911                                                    5
49913                                                    2
49914                                                    2
49943                                                    5
49945                                                    7
49950                                                    5
49952                                                    4
49961                                                    4
49975                                                    4
49986                                                    2
49991                                                   11
49998                                                    9
Name: answercount, Length: 8974, dtype: object>

In [11]:
# g.Find the location which has maximum no of Stack Overflow users.
import statistics as st
a1=df_users.iloc[:,3]
a1=a1.dropna()
#a1=np.array(a1)
a=st.mode(a1)
print(a)

United States